.corner {
	background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 6px;
    margin: 5px 5px 5px auto;
    padding: 5px;
    text-align: center;
    width: 60px;
}

.card {
	background-color: lightblue;
    border: 1px solid;
    border-radius: 4px;
    margin: 10px;
    overflow: hidden;
    width: 400px;
}

.card-image {
	display: block;
    margin: 20px auto;
    width: 60%;
}

.card-image img {
    width: 100%;
}

.card-desc {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
    border-radius: 4px;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}